header {
    background-color: #F1C05A;
    padding: 20px 0;
}

.caixaHeader {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.capaheader {
    width: 28%;
}

nav {
    position: absolute;
    top: 65px;
    right: 0px;
}

nav li {
    font-family: MontSerrat, serif;
    display: inline;
    margin: 0 0 0 30px;
}

nav a {
    text-transform: lowercase;
    color: #000000;
    font-size: 19px;
    text-decoration: none;
}

nav a:hover {
    color: 	#FFFFFF;
}


main {
    background: url(bg.webp)
}

.mudanca {
    font-family: MontSerrat;
    display: inline-block;
    position: relative;
    margin: 0% 36%;
    padding: 40px 0px 20px 0;
    font-size: 30px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
}

main a {
    color: #000000;
    text-decoration: none;
}

main a:hover {
    color: #ffffff;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0px 80px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #F1C05A;
    padding: 30px 30px;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 0 1.5%;
    box-sizing: border-box;
}

.produtos li:hover {
    border-color: #FFFFFF ;
}

.produtos li:hover h2{
    font-size: 24px;
}

.produtos h2 {
    font-size: 23px;
    font-weight: bold;
    font-family: MontSerrat;
}

.fotoProf {
    width: 125px;
}

.fotoAluno {
    width: 174px;
}

.fotoLivro {
    width: 171px;
}

.produtos-descricao {
    font-family: MontSerrat;
    letter-spacing: 0.3px;
    line-height: 125%;
    font-size: 17px;
    margin-top: 10px;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
}

.produto-mais {
    font-weight: bold;
    font-family: MontSerrat;
    margin: 15px 0 0;
}

footer {
    text-align: center;
    background: #F1C05A ;
    padding: 10px 0px;
}

footer img{
    width: 130px;

}

.copyright {
    position: relative;
    font-family: MontSerrat;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 125%;
}